body #tb_external {
  margin: 0px 20px 0px 20px;
  overflow: auto;
  text-align: left;
  padding: 0px;
}

body #tb_external {
  background: white;
  z-index: 999;
  border: 2px solid white;
  text-align: left;
}

body #tb_external h2 {
  font-size: 16px;
  color: black;
  margin-bottom: .3em;
  margin-top: 0px;
}

body #tb_external p {
  margin: 0;
  font-size: 12px;
  padding: 0px;
}

#exit-now-access-bg {
  border: 1px solid #E6E6E6;
  border-left: none;
  border-right: none;
  margin: 20px 10px 20px 0px;
}

#exit-now-access {
  padding: 20px;
  background: #F8F9FA;
  margin: 1px 0;
}
