<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Zen Grids: sample usage</title>
  <link rel="stylesheet" href="stylesheets/styles.css" media="all">
</head>
<body>

<p id="skip-link">
<a href="#main-menu">Jump to main menu</a>
</p>

<header id="header">
  <h1>Zen Grids: sample usage</h1>
</header>

<div id="main">

  <article id="content" role="main">
    <header>
      <h1>Main content</h1>
      <p>Source order: 1</p>
    </header>
    <aside>‘There’s no such thing!’</aside>
    <p>Alice did not quite know what to say to this: so she helped herself to some tea and bread-and-butter, and then turned to the Dormouse, and repeated her question. ‘Why did they live at the bottom of a well?’</p>
    <p>The Dormouse again took a minute or two to think about it, and then said, ‘It was a treacle-well.’</p>
    <p>‘There’s no such thing!’ Alice was beginning very angrily, but the Hatter and the March Hare went ‘Sh! sh!’ and the Dormouse sulkily remarked, ‘If you can’t be civil, you’d better finish the story for yourself.’</p>
    <p>‘No, please go on!’ Alice said very humbly; ‘I won’t interrupt again. I dare say there may be ONE.’</p>
  </article>

  <nav id="main-menu" role="navigation">
    <header>
      <h2>Menu</h2>
      <p>Source order: 2</p>
    </header>
    <a href="#">Alice</a> ★
    <a href="#">Mad Hatter</a> ★
    <a href="#">The Queen</a> ★
    <a href="#">Tom Petty</a>
  </nav>

  <aside id="aside1">
    <header>
      <h2>Aside</h2>
      <p>Source order: 3</p>
    </header>
    <p>‘Have some wine,’ the March Hare said in an encouraging tone.</p>
  </aside>

  <aside id="aside2">
    <header>
      <h2>Aside</h2>
      <p>Source order: 4</p>
    </header>
    <p>‘Please would you tell me,’ said Alice, a little timidly, for she was not quite sure whether it was good manners for her to speak first, ‘why your cat grins like that?’</p>
    <p>‘It’s a Cheshire cat,’ said the Duchess, ‘and that’s why. Pig!’</p>
  </aside>

</div>

<footer id="footer">
  <small>© 2012. The small print.</small>
</footer>

</body>
</html>
