/**
 * @file
 * Test zen-clear()
 */
/* line 8, ../sass/zen-clear.scss */
#test-zen-clear {
  /* Test zen-clear() */
  clear: left;
  /* Test zen-clear() with $zen-float-direction: right */
  clear: right;
  /* Test zen-clear(left) */
  clear: left;
  /* Test zen-clear(left, $reverse-all-floats: TRUE) */
  clear: right;
  /* Test zen-clear(left) with: $zen-reverse-all-floats: TRUE; */
  clear: right;
}
