/* Handy font size definitions 

font-size: .625em;   16px x .625  = 10px 
font-size: .6875em;  16px x .6875 = 11px 
font-size: .75em;    16px x .75   = 12px 
font-size: .8125em;  16px x .8125 = 13px 
font-size: .875em;   16px x .875  = 14px
font-size: .9375em;  16px x .9375 = 15px
font-size: 1.0625em; 16px x 1.0625= 17px
font-size: 1.1875em; 16px x 1.1875= 19px
font-size: 1.75em; 16px x 1.75= 28px

/*Spriting*/
#subhead-wrapper, #sub-footer, #wh-footer{
 background-image: url(../img/home/homesprite.png);
 background-repeat: no-repeat;
}
	/************ Styles that define the layout of the page.   Includes info about width, height, margins, padding and float info *************/
#page {
	background: url(/sites/default/themes/whitehouse/img/bg-main.jpg) no-repeat scroll top center;
	height: 100%;
	min-width: 976px;
	margin: 0;
	padding: 0;
	/* The following fixes sclaing issues on iphone */
	-webkit-background-size: 1280px auto; 
}

.center-on-page {
	width: 976px;
	margin: 0 auto;
	min-height: 600px;
}

#subhead-wrapper {
	height: 22px;
	margin: 0;
	padding: 10px 13px;
	background-position: 0px -88px;
}

/***************** Header ******************/
#hdr-emblem {
	float: left;
	height: 42px;
	margin: 30px 0 0 0;
}

#hdr-emblem img {
	width: 100px;
	height: 40px;
}

#hdr-links {
	width: 270px;
	float: right;
	margin: 30px 10px 0 0;
	height: 23px;
	padding: 15px 0 0 0;
}

/***************** Footer ******************/
#wh-footer {
	background-position: 0px -322px;
	padding: 65px 0 40px 0;
	margin: 0 0 0 0;
        position: relative;
        height:100%
}

#wh-footer .col {
	float: left;
	width: 137px;
	margin: 0 0 0 20px;
}

#sub-footer {
	background-position: 0px -131px;
        background-color: #fff;
	padding: 15px 0 0 0;
	margin: 0;
        position: relative;
}

#ms_main_nav_footer {

}

#ms_main_nav_footer p {
  text-align: center;
  text-transform: capitalize;
  font-size: 1em;
  color:#CCCCCC;
  margin:0 0 10px 0;
  background: none repeat scroll 0 0 #F4F4F4;
}
#ms_main_nav_footer p a {
  color: #999999;
}

#ms_main_nav_footer .delimiter {
  padding: 0px 4px;
}

/************** Breadcrumb and Search **************/
#breadcrumb {
	padding: 5px 0 5px 8px;
	float: left;
	width: 500px;
}

#sub-search {
	width: 303px;
	float: right;
}

/*************** Left Navigation *****************/
#left-nav {
	width: 155px;
	float: left;
	padding: 25px 25px 0 20px;
}
#microsite #left-nav {	
	padding-top: 2px;
}

.excel-content #left-nav {	
	width: 960px;
	padding: 20px 10px 0 10px;
}


/***************** Interior Pages ******************/
.extend-page-full {
	background: #FFF;
	/*  No right bluish background column *****/
}

.page-no-cols {
	padding-left: 10px;
}

#content {
	width: 430px;
	float: left;
	padding: 25px 25px 0 0;
}

.page #content {
	width: 440px;
	float: left;
	padding: 25px 15px 0 0;
}

div.no-right #content {
	width: 630px;
	padding: 25px 25px 0 20px;
}

body.full #content {
	width: 615px;
	float: left;
	padding: 25px 25px 0 20px;
	background: url(../img/bg-int-col.gif) repeat-y;
}

#right-rail {
	width: /*262px;*/ 272px;
	float: right;
	background: url(../img/bg-rightrail.jpg) left top no-repeat;
	padding: 20px 20px 15px 23px;
	min-height: 500px;
}

/***************** Media Center Pages ******************/
#media-detail {
	padding: 20px 20px 15px 20px;
	background: #282828 url(../img/bg-mc.gif) top repeat-x;
  position: relative;
}  /* more generic to accommodate other media pages */


#photo-gallery-viewer {
	width: 775px;
	float: left;
}

#photo-gallery-viewer .gallery-header {
	width: 775px;
}

#photo-gallery-viewer .gallery-header h1 {
	width: 620px;
	float: left;
}

.galleria_wrapper {
  background-color: #000;
  height: 436px;
  text-align: center;
  width: 776px;
}

.embed .galleria_wrapper {
	width: 540px;
  height: 218px;
}

#gallery-detail-info {
	padding: 15px;
	position: absolute;
	z-index: 100;
	width: 745px;
}

#gallery-detail-info p {
	padding: 0;
	margin: 0;
	letter-spacing: 0.02em;
	}

.photo-gallery-detail .caption {
	/*margin: -5px 0 5px 0;*/
  margin: 0 0 5px 0;
	width: 710px;
	float: left;
	/*font-size: .6875em;  /*16px x .6875 = 11px */

}

#photo-pagin {
	display: table; /* Allow the centering to work */
	margin: 0 auto;
	padding: 10px 0 0 0;
}

#media-browse-wrapper {
	margin: 20px;}

#media-browse-header {
	height: 33px;
}

#media-browse-search {
	width: 486px;
	float: left;
}

#media-show-all {
	float: left;
	width: 80px;
}

#media-browse-header #share-rss {
	float: right;
	width: 340px;
}

#you-are-viewing {
	float: left;
	width: 670px;
}

#media-sort-by {
	float: right;
	width: 240px;
}

#browse-photo-list {
	margin: 0;
	padding: 10px 0 20px 0;
}

#media-detail #video-wrapper {
	width: 640px;
	float: left;
	height: 405px;
	/**background: url(../img/backgrounds/bg-video-controls.gif) no-repeat bottom; **/
}

#media-detail #video-info {
	width: 273px;
	float: right;
}
.transcript-wrapper{
  background: url("/sites/default/files/properties_fade.png") repeat-x scroll left top transparent;
  border-bottom: 1px solid #EEEEEE;
  display: block;
  margin-top: -20px;
  padding: 20px 52px;
  width: 874px;
}
h2.transcript-title{
  text-align:center;
  padding-bottom:10px;
}

.transcript-link-wrapper{
  position: absolute;
  text-align: center;
  width: 944px;
  bottom: 5px;
}
.transcript-link-wrapper a{
  color: #CCC;
  font-weight: bold;
  font-size: 14px;
}
.transcript-link-wrapper a:hover{
  color: #666;
}
/*****************Home Page ******************/
.home-top-block {	
	height: 354px;
	width: 939px;
	padding: 14px 20px 20px 17px;
}

.home-top-intro {
	width: 301px;
	float: left;
	height: 371px;
}

.home-slide-wrapper {
	width: 615px;
	float: right;
	margin: 7px 3px 0 0;
}


#home-edge-under-blue {
	background: url(../img/backgrounds/bg-home-top-edge.png) repeat-y;
	height: 18px;
}

#home-detail {
	background: url(../img/backgrounds/bg-home-detail-col.gif) repeat-y;
	padding: 0 0 50px 0;
	/* background creates bluish column on right */
}

#home-detail #content {
	width: 650px;
	float: left;
	padding: 0 0 0 0;
}

#home-right-rail {
	width: 275px;
	float: right;
	padding: 0 20px 15px 0;
	min-height: 500px;
}

#home-a-new-foundation {
	background: #FFFFFF;
	padding: 0 25px 0 20px;
}

#home-two-column-detail {
	background: url(../img/backgrounds/bg-home-two-col.png) no-repeat;
	padding: 25px 0 0 25px;
}

#home-two-column-detail div.col-1,#home-two-column-detail div.col-2 {
	width: 270px;
	float: left;
	padding: 0 50px 0 0;
}

#home-two-column-detail div.col-2 {width: 250px; padding: 0;}

#home-featured-legislation {
	margin: 1px 0 0 0;
}

#foundation-preview-content {
	width: 650px;
}

/***************** Landing Pages ******************/
#landing #content {
/*	background: url(../img/backgrounds/bg-landing-top.jpg) repeat-x;*/
	width: /*640px;*/ 631px;
	padding: 0 15px;
}

#landing #intro-block {
	padding: 18px 15px 0 19px;
	min-height: 215px;
}

#landing-two-col-wrapper div.col-1, #landing-two-col-wrapper div.col-2,
#landing-three-col-wrapper div.col-1, #landing-three-col-wrapper div.col-2 {
	width: 285px;
	float: left;
	padding: 10px 25px 0 5px;
}
#landing-three-col-wrapper div.col-3 {
	padding-top: 10px;
	float: right;
	/*padding: 10px 20px 0 23px;*/
	width: 272px;
}
#landing-latest-schedules {
	margin: 20px 0 0 0;
}

#change #content {
	width: 630px;
	padding: 0 15px;
}

body.issues-landing #landing-two-col-wrapper div.col-1 {
	width: 285px;
}

body.issues-landing #landing-two-col-wrapper div.col-2 table td {
	border: 1px;
}

body.issues-landing #landing-two-col-wrapper table {
	background-color: white;
}

body.issues-landing #landing-two-col-wrapper div.col-2 table tr.row-first td
	{
	padding-top: 0px;
}

/***************** Blog Pages ******************/
#blog .top-subscribe {
	float: right;
}


/**************** Touts *****************/
#stay-connected-tout ul {
	width: 108px;
	float: left;
	margin: 0;
	padding: 0;
}

/***************** Administration Official Pages ******************/
.admin-official #admin-official-image {
	float: left;
	width: 146px;
	text-align: center;
	margin: 0 15px 10px 0;
}

.admin-official #admin-official-image a {
	font-size: .833em; /* = 10 / 12  */
}

/************** Microsites ***************/
#microsite #breadcrumb-wrapper {
	background: url(../img/backgrounds/bg-ms-breadcrumb.png) no-repeat;
	height: 21px;
	margin: 0;
	padding: 10px 13px;
}
#microsite #breadcrumb-wrapper.orange {
	background: url(../img/backgrounds/bg-ms-breadcrumb-orange.jpg) no-repeat;
}

#microsite #breadcrumb {
	float: left;
	width: 500px;
}

#ms-detail {
	background: url(../img/backgrounds/bg-ms-detail.jpg) no-repeat;
	margin: 0;
	padding: 3px 22px 0;
	height: 309px;
}

#ms-sub-nav {
	background: url(../img/backgrounds/bg-ms-nav.jpg) no-repeat;
}

#ms-sub-nav ul {
	padding: 9px 0 8px 12px;
	margin: 0;
}

#ms-sub-nav li {
	display: inline;
}

#ms-callout {
	height: 281px;
	width: 456px;
	margin: 0;
	float: left;
}

#ms-callout .image {
}

#ms-callout p {
	padding: 3px 0 12px 20px;
	margin: 0;
}

#ms-media-wrapper {
	width: 456px;
	float: right;
	margin: 0;
}


.ms-caption {
	text-align: right;
}

#edge-under-top {
	background: url(../img/backgrounds/bg-top-edge.png) repeat-y;
	height: 18px;
}

#edge-under-top-no-left {
	background: url(../img/backgrounds/bg-top-edge-no-left.png) repeat-y;
	height: 18px;
	margin-top: 0;
	padding-top: 0;
}

#edge-under-top-blank {
  height: 18px;
  margin-top:0;
  padding-top: 0;
}

#microsite #content {
	width: 630px;
	float: left;
	padding: 8px 15px;
}

#microsite #content.one-col-microsite {
  width:630px;
}

.open-gallery .extend-page {
  background: none;
}
.open-gallery #edge-under-top {
  background: none;
}
.open-gallery #microsite #content {
	width: 930px;
}

.open-gallery #open-inno-intro {
	width: 600px;
}

#open-gov-inno-gallery .ogi3col {
	border-right: 1px #EBEBEB solid;
	float: left;
  line-height: 16px;
  width: 309px;
  height: 1865px;
}
#open-gov-inno-gallery .last {
	border-right: none;
}
#open-gov-inno-gallery h3 {
	background:transparent url(../img/backgrounds/bg-ms-open-title.jpg) no-repeat scroll center bottom;
	color: #003366;
	font-size: 12px;
	font-family: Georgia,"Times New Roman",Times,serif;
	letter-spacing: 1px;
	margin: 0;
	padding: 15px 0 26px;
	text-align: center;
}
#open-gov-inno-gallery a, #open-gov-inno-gallery a:link, #open-gov-inno-gallery a:visited {
	background-color: transparent;
	color: #333333;
	display: block;
	height: 261px;
	margin: 0 auto;
	overflow: hidden;
	padding: 11px;
	text-decoration: none;
	width: 261px;
}
#open-gov-inno-gallery a:hover, #open-gov-inno-gallery a:hover span.title, #open-gov-inno-gallery a:active {
  background-color: #336699;
  color: #FFFFFF;
  text-decoration: none;
}
#open-gov-inno-gallery a .title {
  color: #336699;
  font-size: 15px;
  line-height: 30px;
}
#microsite #webform #content {
	width: 430px;
	float: left;
	padding: 8px 15px;
}

#microsite #content.mid {
  width: 430px;
  padding: 8px 15px 0 0;
}

#microsite #content #landing-three-col-wrapper {
	background: none;
  width: 930px;
  float: left;
  padding: 0 15px 8px 15px;
}

#microsite #right-rail,
.microsite #right-rail {
	background: none;
	padding-top: 20px;
}

#microsite #content ul.entry-list p {
	margin: 0 0 20px 0;
}

/********** Link to Live Stream **********/
#home-live-stream-block {
	background: transparent url(../img/backgrounds/bg-home-live-stream.png) no-repeat;
	padding: 0 20px 12px 20px;
	height: 28px;
}

#home-live-stream-block #link-to-stream {
	float: left;
	margin: 13px 0 0 0;
}

#home-live-stream-block .btn a {
	width: 136px;
	height: 24px;
	float: right;
}

/********** Exit Dialog **********/
#exit-dialog-wrapper {
	background: transparent url(../img/backgrounds/bg-dialog.png);
	width: 500px;
	height: 280px;
	padding: 10px;
}

#exit-dialog {
	background: #FFF;
	height: 100%;
	clear: both;
}

#exit-dialog #content {
	padding: 0 25px 35px 25px;
	margin: 0;
	width: 450px;
}

#exit-now-access-bg {
	border: 1px solid #e6e6e6;
	border-left: none;
	border-right: none;
	margin: 20px 10px 20px 0px;
}

#exit-now-access {
	padding: 20px;
	background: #f8f9fa;
	margin: 1px 0;
}

.node-form .body-field-wrapper #edit-teaser-include-wrapper { display: none; }

/******** A Strong Middle Class *********/
#strongmiddleclass #ms-callout {
	/*margin: 10px 25px 25px 25px;*/
}

#microsite #microsite-split-wrapper .microsite-split {
	float: left;
	padding: 8px 15px;
	width: 450px;
	min-height: 471px;
}

/********* Maintenance page ********/
#page.maintenance {background: url(../img/backgrounds/bg-main-no-nav.jpg) no-repeat scroll top center;}
.maintenance .center-on-page {padding-top: 110px; width: 974px;}
#maintenance {padding: 20px 300px 20px 20px;}
#maintenance p {margin: 0 0 0 0;}

/******** Issues fix *******/

#issues-landing-links {padding: 0 0 50px 0;}

/******** SAVE vote page *******/

#award-content #content {
	width: 615px;
	float: left;
	padding: 25px 25px 0 20px;
	background: url(../img/bg-int-col.gif) repeat-y;
	font-size: 1.0625em; 16px x 1.0625= 17px

}

#content .vote-wrapper {
  background: #edf1f4 url(../img/backgrounds/bg-save-vote.jpg) no-repeat;
  color: #003366;
  padding: 15px 45px 15px 45px;
  width: 501px;
  min-height: 380px;
  margin: 20px 0 0 0;
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 1.1875em; /* 16px x 1.1875= 19px */

}
   
  
#content .vote-wrapper hr {
  border-top: 1px solid #666;
  margin-bottom: 5px;
  size: 1px;
}

  
#content .vote-wrapper .average-rating {
  text-align: center;
  text-transform: uppercase;
  /*font-family:Arial, Helvetica, sans-serif;	*/
  font-size: 10px;   /*16px x .625  = 10px*/
  letter-spacing: 0.05em;
  font-weight: bold;
  clear: both;
}  

  
#content .vote-wrapper .average-rating span {
  font-family: Georgia,"Times New Roman",Times,serif;
  color: #999;
  font-size: 19px; /*16px x 1.1875= 19px*/
  font-weight: normal;
  text-align: center;
  display: block;
}
#content .vote-wrapper .total-votes {
  display: block;
  display: none;
}
  
#award-content .award-results {
/* Handy font size definitions 

font-size: .625em;   16px x .625  = 10px 
font-size: .6875em;  16px x .6875 = 11px 
font-size: .75em;    16px x .75   = 12px 
font-size: .8125em;  16px x .8125 = 13px 
font-size: .875em;   16px x .875  = 14px
font-size: .9375em;  16px x .9375 = 15px
font-size: 1.0625em; 16px x 1.0625= 17px
font-size: 1.1875em; 16px x 1.1875= 19px
font-size: 1.75em; 16px x 1.75= 28px

*/
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 1.0625em;
}

#award-content .award-results h1 {
  margin: 0;
}
#award-content .award-results h2 {
  color: #373737;
  font-weight: bold;
  margin: 20px 0 10px;
}
#award-content .award-results li {
  margin: 0 0 12px 6px;
  font-size: 1.0625em;
}
#award-content .award-results .views-field-title {
  margin: 0 10px 0 0;
}
#award-content .award-results .views-field-value {
  color: #336699;
}

.health-meeting-view-header h3 {
  font-size: .917em;
}

div.no-right div#content.view-display-id-calendar_1 {
  padding: 15px 0 0 0;
  width: 760px;
}

#petition-tool-apology h1.apologies{
  color: #fff;
  text-align: center;
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 36px;
  margin: 10px;
}
#petition-tool-apology .this-section{
  color: #fff;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  margin: 5px 0px;
}
#petition-tool-apology .we-appreciate{
  color: #fff;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  margin: 5px 0px;
}
#petition-tool-apology .bold-construction{
  font-weight: bold;
}
#petition-tool-apology .construction-text-wrap{
  width: 500px;
  position: relative;
  top: -655px;
  left: 235px;
  margin: 5px 0px;
}
/* issue block classes*/
.grey-title-block{
  background-image: url(../img/grey-title-block-bg.png) top left repeat-x;
}
.grey-title-block h3{
  border: 1px solid #333;
}

/*styling for contact pages*/
.contact-subheader #subhead-wrapper{
  background: url(../img/backgrounds/bg-ms-breadcrumb.png) top left no-repeat;
  height: 21px;
  margin: 0;
  padding: 10px 13px;
}
.contact-subheader #subhead-wrapper .breadcrumb, .contact-subheader #subhead-wrapper .breadcrumb a{
  color: #fff;
}
.contact-banner{
  background: url(../img/contact-banner.png) top left no-repeat;
  height: 89px;
}
h1.contact-title{
  font-size: 2em;
  color: white;
  padding: 25px 0px 0px 90px;
  letter-spacing: 1px;
}
/*
h1.contact-title a{
  color: #fff;  
  text-decoration: none;
  padding-top: 10px;
}
h1.contact-header{
  padding-top: 20px;
}
.contact-main-hero{
  background: url(../img/contact-us-main-hero.jpg) bottom left no-repeat;
  width: 976px;
  height: 320px;
  margin-bottom: 10px;
}*/
h1.contact-title{
  display: none;
}
.contact-main-hero .contact-video{
  padding: 20px 0 0 510px;
}
.contact-top ul.menu{
  background: url(../img/contact-menu-bg.png) top left no-repeat;
  height: 22px;
  margin: 0px;
  padding: 10px 0px 0px 10px;
  font-family: Georgia,"Times New Roman",Times,serif; 
}
.contact-top ul li{
  display: inline;
  padding: 0px 10px;
  border-right: 1px solid #6699cc;
  font-size: 1.167em;
}
.contact-top ul li.first{
  padding-left: 0px;
}
.contact-top ul li.last{
  border-right: none;
}
.contact-top ul li a{
  color: #fff;
  text-decoration: none;
}
.aside {
  color: #666;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  padding: 5px;
  margin: 20px 0px;
}
h2.red-block-header{
  /*color: #993333;*/
  color: #000;
  background: url(../img/backgrounds/bg-title-fade-white.gif) bottom left no-repeat;
  font-weight: normal;
  font-size: 14px;
  margin: 10px 0px 0px 0px;
  padding-bottom: 20px;
  /*text-transform: uppercase;*/
}
.blue-gradient-block{
  background-color: #fff;
  border: 1px solid #ccc;
  margin-top: 20px;
  padding-bottom: 20px;
}
h2.blue-gradient-header{
  background:url(../img/blue-gradient-block-header.png) top left repeat-x;
  /*color: #336699;*/
  color: #000;
  font-family: Georgia,"Times New Roman",Times,serif;
  /*font-size: .875em;*/
  font-size: 14px;
  font-weight: normal;
  padding: 16px 10px;
  text-indent: 0px !important;
  margin: 0px;
}
.feed-link a {
  background: url("../img/arrow-blue-next.gif") no-repeat scroll 0px 3px transparent;
  display: block;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.06em;
  margin: 10px;
  padding-left: 10px;
}
.contact-content #content{
  padding: 20px 0px 0px 0px !important;
  width: 100% !imporant;
}
.contact-content #crmform{
  padding: 0px;
  margin: 0px;
}
.contact-content p{
  font-size: 1.1em;
}
p.less-margin{
  margin: 0 0 10px;
}
.contact-content .more-link a{
  background: none !important;
  font-size: .9em;
}
.more-link-spacing{
  margin-bottom: 3px;
}
p.no-margin{
  margin: 0px;
}
.margin-bottom-10{
  margin-bottom: 10px;
}
p.large-italic-lead{
  color: #000;
  font-style: italic;
  font-weight: normal;
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 1.4em;
  line-height: 1.6em;
}
a.charity-title{
  color: #336699;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
}
ul.charity-list{
  list-style-type: none;
}
/*delete this after contact pages are built*/
#stay-connected-tout h3{
  text-indent: -9999px;
}
#letters-tout h3{
  text-indent: -9999px;
}

/*
 * ONDCP Microsite
 */

body.ondcp #ms-sub-nav li, body.og-context-64003 #ms-sub-nav li {
	border-right: 1px solid #3b6a95;
}
body.ondcp #ms-sub-nav li.last, body.og-context-64003 #ms-sub-nav li.last {
  border: none;
}
body.ondcp #ms-sub-nav li a, body.og-context-64003 #ms-sub-nav li a {
	color:#709cc4;
	padding:2px 8px;
}
body.ondcp #ms-sub-nav li a.active, body.og-context-64003 #ms-sub-nav li a.active {
  color:#fff;
}
body.ondcp #ms-media-wrapper, body.og-context-64003 #ms-media-wrapper {
	margin-top:3px;
}
body.node-type-page.ondcp #edge-under-top-no-left {
  background:url("../img/backgrounds/bg-top-edge-no-left.png") repeat-y scroll 0 0 transparent
}
body.ondcp #edge-under-top-no-left {
	background:url(../img/backgrounds/bg-home-top-edge.png);
}
body.ondcp .view-nodequeue-13 {
	background:url(../img/backgrounds/bg-tout-drug-facts.jpg) no-repeat top left;
	width:224px;
	height:267px;
	padding:20px;
	position:relative;
	border:5px solid white;
}
body.ondcp #views_slideshow_singleframe_prev_nodequeue_13-block_1 {
	width:29px;
	height:31px;
	display:block;
	position:absolute;
	top:244px;
	left:100px;
	background:url(../img/buttons/btn-drugfacts-controls.gif) no-repeat top left;
	text-indent:-9999px;
  font-size:0;
}
body.ondcp #views_slideshow_singleframe_next_nodequeue_13-block_1 {
  width:29px;
  height:31px;
  display:block;
  position:absolute;
  top:244px;
  left:129px;
  background:url(../img/buttons/btn-drugfacts-controls.gif) no-repeat -29px 0;
	text-indent:-9999px;
	font-size:0;
}
body.ondcp #views_slideshow_singleframe_playpause_nodequeue_13-block_1 {
	display:none;
}
body.ondcp .col-3 .block {
	margin-bottom:18px;
}
body.ondcp .col-3 .block-nodeblock {
	border:5px solid #e1e8ee;
}
body.ondcp #landing-three-col-wrapper div.col-3 {
	width:274px;
}
body.ondcp .col-3 .block-nodeblock a {
	line-height:0;
	display:block;
}
body.ondcp #block-nodeblock-69367 br,
body.ondcp #block-nodeblock-69367 map {
	display:none;
}
body.ondcp #block-nodeblock-69367 p {
	margin-bottom:0;
}
body.ondcp .center-on-page #content #block-nodeblock-69367 p img {
	padding-bottom:0;
	padding-right:0;
	display:block;
	line-height:0;
}
body.ondcp .col-2 h3 {
	font-family:Georgia, Times, serif;
	font-size:16px;
	font-weight:normal;
}

body.ondcp #content .block-nodeblock h2 {
	background: url("../img/backgrounds/bg-title-fade-white.gif") no-repeat scroll left bottom transparent;
  color: #880000;
  font-size: 1.167em;
  font-weight: bold;
  letter-spacing: 0.07em;
  margin: 0;
  padding: 0 0 20px;
  text-transform: uppercase;
	text-indent:0;
	height:auto;
	line-height:normal;
}
body.ondcp .col-3 #stay-connected-with-email-tout {
	border:none;
	margin:0;
}
body.ondcp #jump-quickly-form-1 {
	border:5px solid #e1e8ee;
	background:url(../img/backgrounds/bg-tout-state-and-local-info.png) no-repeat top left;
	width:264px;
	height:153px;
}
body.ondcp #jump-quickly-form-1 .container-inline {
	padding:90px 0 0 45px;
}
body.ondcp #jump-quickly-form-1 #edit-jump-goto-wrapper,
body.ondcp #jump-quickly-form-1 #edit-submit {
	float:left;
}
body.ondcp #jump-quickly-form-1 #edit-jump-goto-wrapper {
	margin:0 10px 0 0;
}

/* ONDCP News Releases landing page */
#block-menu-menu-microsite-ondcp {
	background: url(../img/backgrounds/bg-ms-nav.jpg) no-repeat;
	z-index: 1 !important;
}

#block-menu-menu-microsite-ondcp  ul.menu {
	 margin: 0;
         padding: 9px 0 8px 12px;
}
#block-menu-menu-microsite-ondcp  ul.menu li {
         border-right: 1px solid #709CC4;
	 font-family: Georgia,"Times New Roman",Times,serif;
	 font-size: 1.167em;
	 list-style-type: none;
	 margin: 0;
	 padding: 0;
	 text-align: left;
	 display: inline;
}
#block-menu-menu-microsite-ondcp  ul.menu li a {
	color: #709CC4;
        padding: 2px 8px;
}
#block-menu-menu-microsite-ondcp  ul.menu li.leaf {
         border-right: none;
}
#block-menu-menu-microsite-ondcp  ul.menu li.expanded ul.menu {
	display: none !important;
}
#page .center-on-page #news-content .node-content #right-rail #content .view-content li  {
    border-bottom: 1px solid #EBEBEB;
    font-size: 1em;
    line-height: 3.5;
    margin: 6px 0;
    padding: 0;
}
#page .center-on-page #news-content .node-content #right-rail #content .view-content ul.entry-list .date-line {
  font-size: .833em;   /*12px x .833  = 10px */
  color: #666;
  margin-bottom: 0px !important;
  padding: 0;
 
}
#news-content #right-rail h2 {
  color: #880000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;  /*16px x .6875 = 11px */
  letter-spacing: 0.10em;
  margin: 15px 0 15px 15px;
}
#news-content #right-rail h3 {
  font-family: Georgia, "Times New Roman", Times, serif; 
  font-weight: normal;
  margin: 0 0 20px 0;
  font-size: 1.167em;   /*16px x .875  = 14px*/
}
#page #news-content #content .pager li  {
    display:inline;	
    font-size: 1em;
    line-height: 1.5;
    margin-top: 0px;
    padding: 0;
}
#block-nodeblock-116396 .block-nodeblock #left-nav h2 {
    color: #336699;
    font-size: 0.917em;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 0.9;
    margin: 3px 0 10px;
    text-transform: uppercase;
    text-indent: 0px !important;
}


/* ONDCP Statements and Releases page */
#page .center-on-page .node-content #content .ondcp-news-speeches {
	margin:20px 0 18px;
}
#page .center-on-page .node-content #content .ondcp-news-speeches li {
	border-bottom:1px solid #ebebeb;
	padding-bottom:20px;
	margin-bottom:20px;
}
#page .center-on-page .node-content #content .ondcp-news-speeches li h3 {
	font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 1.167em;
  font-weight: normal;
}
#page .center-on-page .node-content #content li, .og-context-829 #content li  {
    font-size: 1em;
    line-height: 1.5 !important;
    margin: 6px 0;
    padding: 0;
}


#control .error ul li {
  margin-left: 18px;
}
ul.register-list{
  margin-bottom: 10px;
}
ul.register-list li{
  list-style-type: disc inside none;
  margin-left: 1em;
}



/* Champions of Change */
.view-champions .medCapsule{
  float: left;
  margin: 10px 0;
  min-height: 325px;
  width: 312px;
}
.view-champions .medCapsule img {
  border: 10px solid #EDEDED;
}
.view-champions .medCapsule img:hover{
  border: 10px solid #003366;
}
.champ-thumb-body{

}
.champ-thumb-title a{
  font-weight: bold;
}
.champ-thumb-body p{
  margin-right: 10px;
  width: 250px;
}
.view-champions .view-header{
  padding-top: 20px;
}
#TB_window .imagecache-blog_author_medium{
  display: inline-block;
  float: left;
  padding-right: 20px;
}
#TB_window .champ-thumb-title{
  display: inline-block;
  float: left;
}
#TB_window .person-photo{
width: 244px;
}

.view-champions h3.intro {
    color: #7B7B7B;
    font-size: 1.3em;
    font-weight: normal;
    line-height: 1.5;
    margin: 5px 0 15px;
    width: 590px;
}
#TB_window .addthis-container{
  display: none;
}
.full-bio img{
  float: left;
  margin: 0px 20px 10px 0px;
}
.full-bio .champ-thumb-title{
  margin-top: 10px;
}
.full-bio .field-content{
  line-height: 1.5em;
}
.full-bio .champ-thumb-title{
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 18px;
  line-height: 26px;
}
.champs-view{
  padding:0px 16px;
}
.champs-view h1{
  margin-top: 25px;
}
#block-menu-menu-microsite-champions-change{
  background: url("http://www.whitehouse.gov/sites/default/files/champs_nav_int_bg.jpg") no-repeat scroll 0 0 transparent !important;
  z-index: 1 !important;
}
#block-menu-menu-microsite-champions-change ul{
  margin: 0;
  padding: 9px 0 8px 12px;
}
#block-menu-menu-microsite-champions-change ul li{
  border-right: 1px solid #7DA2C1;
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 1.167em;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  display: inline;
}
#block-menu-menu-microsite-champions-change ul li a{
  color: #FFFFFF;
  padding: 2px 12px 2px 10px;
}
