@charset "UTF-8";
/* CSS Document */

/* Handy font size definitions 

font-size: .625em;   16px x .625  = 10px 
font-size: .6875em;  16px x .6875 = 11px 
font-size: .75em;    16px x .75   = 12px 
font-size: .8125em;  16px x .8125 = 13px 
font-size: .875em;   16px x .875  = 14px
font-size: .9375em;  16px x .9375 = 15px
font-size: 1.0625em; 16px x 1.0625= 17px

*/


/*************** Styles that define individual elements (1-up) ****************/

a:focus { -moz-outline-style: none; } /*this avoids having image replacement sections display a dotted outline*/


.skip {
	height:1px;
	left:-10000px;
	overflow:hidden;
	position:absolute;
	width:1px;
}

div.spacer-top-40 {
  margin: 40px 0 0 0;
  font-size: 1px;
  line-height: 1px;
}

span.citation {
	text-transform: uppercase; 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: .625em; /* 16px x .625 = 10px  */
}

/** Accessible hidden/visible styles **/
.element-hidden {
  position:absolute;
  z-index: 10;
  left:-9999px;
}

.element-viisble {
  left: auto;
}

.clear {clear: both;}

/** Clearfix */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
/** End Clearfix */