$color-white: #fff;
$color-red1: #880002;
$color-blue1: #6394c5;
$color-blue2: #336699;
$color-blue3: #003366;
$color-blue4: #003c80;
$color-blue5: #d5dee9;
$color-blue6: #BFCAE1;
$color-orange1: #c1935c;
$color-gray-lightest: #f4f4f4;
$color-gray-light: #dedede;
$color-gray-mid: #c0c0c0;
$color-gray60: #999;
$color-gray40: #666;
$color-gray20: #333;
$color-near-black: #313131;
$color-dark-gray: #333;

$sidr-background : #fff;
$main-menu-link-color: #6394c5;
$main-menu-link-hover-color: #036;
$main-menu-non-link-color: #838383;
$main-menu-active-link-color: #444;
$accent-red: #880002;
$border-gray: #dedede;
$featured-blue: #eff8ff;
$search_blue: #608dbf;
$gray60: #999;
$gray40: #666;
$gray70: #565656;
$gray80: #353535;

/* Colors from 6.x fortyfour */
$link-color: #336699;
$dark-blue: #002654;
$gray: #434343;
$border-gray: #ccc;
$black: #000;
$white: #fff;
$btn-color-top: #64a3e3;
$btn-color-bottom: #4483bd;
$btn-hover: #1E65AB;
