// Form / validation specific styling.

.input-error {
  clear: both;
  border-left: 4px solid $color-secondary-dark;
  padding-bottom: 0.8rem;
  padding-left: 1.5rem;
  padding-top: 0.8rem;
  position: relative;
  right: 1.9rem;

  @include media($desktop) {
    margin-top: 3rem;
  }

  input, textarea {
    border: 3px solid $color-secondary-dark !important;
    width: calc(100% + 1.5rem);
  }

  label {
    margin-top: 0;
  }

  .input-error-message {
    color: $color-secondary-dark;
    font-weight: $font-bold;
  }
}
