// Styles for Footer.
.footer-wrap {
  background: url('../img/backgrounds/hr.jpg') center top repeat-x #F4F4F4;
  margin-top: 32px;
}

#wh-footer {
  background: none;
  position:relative;
  padding: 20px 0 40px;

  ul, li {
    list-style: none outside none;
  }

  .menu-name-whitehouse-global-navigation { 
    > ul li {
      font-size: 13px;
      line-height: 19.5px;
      margin-bottom: 0px;
    }
    > ul > li {
      box-sizing: border-box;
      float: left;
      margin-right: -100%;
      padding-right: 30px;
      width: 20%;
      > a {
        color: #313131;
        font-weight: bold;
        text-transform: uppercase;
        &:hover {
          color: #313131;
          text-decoration: underline;
        }
      }
      &:nth-of-type(2) {
        margin-top: 26px;
      }
      &:nth-of-type(3) {
        margin-left: 20%;
      }
      &:nth-of-type(4) {
        margin-left: 40%;
      }
      &:nth-of-type(5) {
        margin-left: 60%;
      }
      &:nth-of-type(6) {
        margin-left: 80%;
      }
    }
    > ul li li span {
      color: #666;
      font-weight: bold;
    }
    > ul li li li a {
      text-transform: none;
      color: #6394C5;
      &:hover {
        color: #369;
      }
    }
  }
}

#sub-footer {
  background: url('../img/backgrounds/hr.jpg') center top repeat-x #F4F4F4;
  li {
    border-right: solid 1px #DEDEDE;
  }
  a {
    font-size: 13px;
    color: #666;
  }
}
