// WHR Header overrides
@import "variables/colors";
@import "variables/color_mapping";
@import "variables/fonts";
@import "mixins";

/* Header specific colors/fonts */
$header-background: rgba($color-blue4,0.82);
$header-nav-border: rgba($color-blue5,0.44);
$slogan-text: $gray80;
$search-desktop-text: $color-blue6;
$font_header_nav: $whitney;

// Main Content width
$content-width: 960px;

/* Start Custom Header Overrides */

#wh-header {
  width: auto !important;
  font: 13px/1.5em Helvetica,Arial,"Nimbus Sans L",sans-serif
}

.whr-wrapper #logo {
  padding: 0;
  float: none;
}

/* End Custom Header Overrides */

/***************************************************************************/
/* Below has been imported from sixteenhundred with minimal modifications. */
/***************************************************************************/

/* Start from _header.scss */

.whr-header-bg {
  background: white url('../img/backgrounds/wh_header_decor_desktop_large_format.png') no-repeat center top;
  background-position: center -140px;
}

.whr-wrapper {
  float: none;
  max-width: 934px;
  margin: 0 auto;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  width: 100%;
}

.whr-navbar {
  position: relative;
  background: $header-background;
  @include clearfix;
}

/**
 * Style the slogan that is above the rest of the header.
 */
.whr-contact-slogan {
  @include clearfix;
  padding: 11px 0.615em 6px; // 8px / 13px.
}
.pane-page-slogan {
  float: left;
  color: $slogan-text;
  font-size: 1.077em; // 14px / 13px.
  line-height: 1em;
  font-family: $hoefler;
  font-style: italic;
  margin: 0;
  padding: 0;
}

.whr-lead {
  margin-right: 0.7em !important;
  font-size: 1.1em;
}
.whr-president {
  font-size: 0.714em; // 10px / 14px.
  line-height: 1em;
  text-transform: uppercase;
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;

}

/**
 * Style the contact menu and it's links.
 */
.whr-contact-nav {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
  float: right;
}
.whr-contact-nav ul {
  margin: 0;
  padding: 0;
}
.whr-contact-nav--horizontal-1-level-menu--menu-item {
  float: left;
  margin-right: 35px;
  list-style-image: none !important;
  list-style-type: none !important;

  &:last-child {
    margin-right: 0;
  }
}
.whr-contact-nav--horizontal-1-level-menu--menu-item a {
  padding-right: 10px;
  background: url('../img/sprites/contact-nav-icons.png') no-repeat right top;
  font-family: $whitney;
  font-size: 0.923em; // 12px / 13px.
  font-weight: bold;

  &.active {
    background-position: right -23px;
  }

  &:link,
  &:visited {
    color: $color-blue1;
  }
  &:hover,
  &:active {
    text-decoration: underline;
    color: $active-link;
  }
}

/**
 * Style and position the site's logo.
 */
.pane-page-logo {
  left: 50%;
  text-align: center;

    top: -23.5px;

    position: static;
    float: left;
    width: 70px;
    height: 56px;
    margin: 12.5px 18px 0 0;
}

#block-menu-block-sixteenhundrednav-main {
  zoom: 1;
  position: static;
  float: left;
  clear: none;
  width: auto;
  padding: 1.538em 0;
}

#block-menu-block-sixteenhundrednav-main #main-menu-header {
  display: none;
}

#block-menu-block-sixteenhundrednav-main #main-menu-content {
  clip: auto;
  height: auto;
  width: auto;
  display: block;
  position: static;
  overflow: visible;
  z-index: 1000;
}

/* End from _header.scss */

/* Start from screen.scss */
#block-menu-block-sixteenhundrednav-main {
  width: 100%;
  #main-menu-content {
    @include element-invisible;
    &.is-open {
      @include element-invisible-off;
      min-height: 100%;
      position: absolute !important; // Important to offset mixin.
      top: 89px;
      z-index: 501;
      background-color: white;
      top: 99px;
    }
  }
  #icon-wrapper {
    float: left;
    height: 40px;
    padding:0 4px;
    border-left: 1px solid $color-near-black;
    border-right: 1px solid $color-near-black;
    height: 50px;
    padding: 5px 8px;
  }
  a#main-menu-toggle {
    &:focus {
      color: white;
    }
  }
  .fa-bars {
    font-size: 2em;
    color: white;
  }
  .fa-angle-down {
    position: absolute;
    right: 1em;
  }
  span.ui-accordion-header-icon {
    display: none;
  }
  a {
    display: block;
    padding: 6px 8px;
    font-family: $whitney;

    padding: 5px 8px;

    // Hide a link only in the header.
    &.no-header {
      display: none;
      text-transform: underline;
    }

    // Hide a link only in the footer.
    &.no-footer {
      display: none;
    }
  }
  &:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
  }
  .depth-1 > ul.menu {
    display:block;
    width:100%;
  }
  ul.menu {
    background-color:#FFF;
    list-style:none outside none;
    padding:0px;
    width: 240px;
  }
  li {
    list-style:none outside none;
    &.depth-1 {
      position:relative;
      width:240px;
      > ul.menu {
        display:block;
        float:none;
        width:100%;
        &.sf-hidden {
          display:none;
        }
      }
      // Accordion header background.
      > a {
        @include border-radius(0);
        background: white none;
        border-left: 4px solid #f2f2f2;
        border-right: none;
        border-top: none;
        color: $color-near-black;
        display: block;
        font-size: 18px;
        font-weight: 400;
        padding-bottom: 0.8em;
        padding-left: 0.6rem;
        padding-top: 0.8em;
        &[role="tab"] {
          border-bottom: 1px solid $border-gray;
          margin-top: 0;
        }
        &[aria-selected="true"] {
          border-left-color: $accent-red;
          background-color: #f2f2f2;
        }
        span.ui-icon {
          left: auto;
          right: 0.5em;
        }
        // Hide a link only in the header.
        &.no-header {
          display: none;
          text-transform: underline;
        }

        // Hide a link only in the footer.
        &.no-footer {
          display: none;
        }
      }
      // When the accordion is expanded.

      > ul.menu {
        @include border-radius(0);
        border-bottom: 1px solid $border-gray;
        border-left: none;
        border-right: none;
        margin-top: 0;
        // Important used to override JQueryUI inline style application.
        padding-bottom: 10px !important;
      }
    }
    &.depth-2 {
      >ul.menu {
        display:block;
      }
      > span {
        color: $main-menu-non-link-color;
        display: block;
        font-family: $whitney;
        font-size: 11px;
        font-weight: 700;
        padding: 0.6rem 0.6rem 0;
        text-transform: uppercase;
      }
      ul.menu-featured__column {
        margin: 0;
        padding: 0;
      }
    }
    &.depth-3 {
      a, a:visited {
        color: $main-menu-link-color;
        font-size: 13px;
        font-weight: bold;
        padding: 0.6rem 0.6rem 0;
        &:hover {
          color: $main-menu-link-hover-color;
        }
      }
      a:active {
        color: $main-menu-active-link-color;
      }
      span.menu-featured__description {
        display: none;
      }
    }
  }
}

#block-menu-block-sixteenhundrednav-main {
  @include clearfix;
  position: static;
  float: left;
  clear: none;
  width: auto;
  padding: 1.538em 0; // 20px / 13px = 1.538
  #main-menu-header {
    display: none;
  }
  #main-menu-content {
    @include element-invisible-off;
    display: block;
    position: static;
    overflow: visible;
    z-index: 1000;
  }
  ul.menu {
    height: auto;
    width: auto;
    margin: 0;
    background: none;
  }
  .fa-angle-down {
    display: none;
  }
  li.depth-1 {
    float: left;
    position: relative;
    width: auto;
    position: static;
    > a {
      padding: 0 0.9em;
      background: none;
      border: 1px rgba($header-background, 0) solid;
      border-left: 1px $header-nav-border solid;
      font-size: 1.154em; // 15px / 13px
      font-family: $font_header_nav;
      line-height: 2em;
      text-transform: uppercase;
      color: $white;
    }
    &.sfHover > a {
      position: relative;
      margin: -20px 0;
      padding-top: 19px;
      padding-bottom: 21px;
      color: #838383;
      background: $white;
      border-top: 2px solid $accent-red;
      border-left: 1px rgba($gray-border, 0.81) solid;
      border-right: 1px rgba($gray-border, 0.81) solid;
      border-bottom:0 none;
      z-index: 1100;
    }
    &:last-child > a {
      border-right: 1px $header-nav-border solid;
    }
    > ul.menu {
      @include clearfix;
      float: left;
      position: absolute;
      display: none;
      top: 72px;
      width: auto;
      margin-top: -1px;
      padding-left: 1.154em; // 15px / 13px.
      background: $white;
      border: 1px rgba($gray-border, 0.81) solid;
      border-bottom: 2px solid $accent-red;
      z-index: 1000;
      > .depth-2-wrapper {
        float: left;
        @include clearfix;
        width: auto;
        margin: 20px 0 8px;
        display: table;
      }

      li {
        @include box-sizing(border-box);
        width: 177px;
      }

      li.menu-featured-descs {
        width: 440px;
      }
    }
  }
  li.depth-2 {
    display: table-cell;
    padding: 0 1.923em;
    border-right: 1px rgba($gray-border, 0.81) solid;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      border-right:0 none;
    }
    > span {
      padding: 0;
    }
    > ul.menu {
      display: block !important;
      opacity: 1 !important;
      visibility: visible !important;
    }
  }
  li.menu-featured {
    background: #f4f4f4;
    border: 1px rgba($gray-border, 0.81) solid;
    &:first-child {
      padding-left: 0.769em; // 10px / 13px.
    }
    > span {
      margin-top: 8px;
    }
    ul.menu-featured__column {
      @include box-sizing(border-box);
      opacity: 1 !important;
      display: block !important; // Override superfish settings.
      float: left;
      width: 50%;
      padding: 0 1.538em 0 0;

      &:last-child {
        padding: 0 0 0 1.538em;
      }
      li {
        @include box-sizing(border-box);
        width: 100%;
        padding-bottom: 0.769em;
        border-bottom: 1px rgba($gray-border, 0.81) solid;
        &:last-child {
          border-bottom:0 none;
        }
      }
    }
  }
  li.depth-3 {
    a {
      padding: 0.6rem 0 0;
      font-weight: normal;

      &.menu-featured__link {
        font-weight: bold;
      }
    }
    span.menu-featured__description {
      display: block;
      color: $main-menu-non-link-color;
      font-size: 0.923em; // 12px / 13px.
      line-height: 1.25em; // 15px / 12px.
    }
  }
}
/* End from screen.scss */

/* Start Search form styling */
@charset "UTF-8";

.sitewide-header--search-form {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px)
}

.sitewide-header--search-form.is-open {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
  float: left;
  position: absolute !important;
  background: #131d5a;
  width: 240px;
  padding: 9px;
  margin: 0;
  z-index: 1000;
}

.sitewide-header--search-form.is-open form {
  zoom:1;background: #fff;
  border: 1px solid #3e3e3e
}

.sitewide-header--search-form.is-open form:before,.sitewide-header--search-form.is-open form:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden
}

.sitewide-header--search-form.is-open form:after {
  clear: both
}

.sitewide-header--search-form {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
  float: right;
  width: 165px;
  margin: 20px 0;
  background: none;
  border:0 none
}

.sitewide-header--search-form .form-text,.sitewide-header--search-form__search-field {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 200px;
  padding-left: 10px;
  background: none;
  border:0 none
}

.sitewide-header--search-form .form-text:focus,.sitewide-header--search-form__search-field:focus {
  outline: 0 none;
  border:0 none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none
}

.sitewide-header--search-form .form-text,.sitewide-header--search-form__search-field {
  width:147px;
  padding: 2px 10px 2px 10px;
  border-bottom: 1px solid #bfcae1;
  color: #bfcae1;
  font-family: Helvetica,Arial,"Nimbus Sans L",sans-serif;
  font-size: 0.923em;
  height: 27px;
}

.sitewide-header--search-form .form-text:focus,.sitewide-header--search-form__search-field:focus {
  border-bottom: 1px solid #bfcae1
}

.sitewide-header--search-form .form-text::-webkit-input-placeholder,.sitewide-header--search-form__search-field::-webkit-input-placeholder {
  color: #bfcae1
}

.sitewide-header--search-form .form-text:-moz-placeholder,.sitewide-header--search-form__search-field:-moz-placeholder {
  color: #bfcae1
}

.sitewide-header--search-form .form-text::-moz-placeholder,.sitewide-header--search-form__search-field::-moz-placeholder {
  color: #bfcae1
}

.sitewide-header--search-form .form-text:-ms-input-placeholder,.sitewide-header--search-form__search-field:-ms-input-placeholder {
  color: #bfcae1
}


.sitewide-header--search-form .form-submit,.sitewide-header--search-form__submit {
  float: left;
  height: 20px !important;
  width: 20px !important;
  text-indent: -119988px !important;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  background-color: transparent;
  background-image : url('../img/sprites/search-icon-all-viewports.png');
  background-repeat: no-repeat !important;
  border: 0 none;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0;
  margin: 3px 0 0 -8px !important;
  background-position: 0 -20px !important;

}

.sitewide-header--search-form .form-submit:active,.sitewide-header--search-form .form-submit:hover,.sitewide-header--search-form__submit:active,.sitewide-header--search-form__submit:hover {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  background-image : url('../img/sprites/search-icon-all-viewports.png');
  background-repeat: no-repeat;
  background-position: 0 -20px;
  border: 0 none;
}

.sitewide-header--search-form .form-submit:focus,.sitewide-header--search-form__submit:focus {
  outline: 0 none;
  border: 0 none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* End Search form styling */
